@import "tailwindcss";

@font-face {
  font-family: "reg-poppins";
  src: url("/Poppins-Regular.ttf") format("truetype");
  /* font-weight: 400; */
  /* font-style: normal; */
  /* font-display: swap; */
}

* {
  font-family: "reg-poppins", ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.95); }
}

/* Default style for the input field */
input[type="text"] {
  border: 1px solid #ccc; /* Default border color and thickness */
  padding: 12px;
  transition: border-color 0.3s ease; /* Smooth transition for color change */
}

/* Style when the input field is in focus (user is typing) */
input[type="text"]:focus {
  outline: none;           /* Removes the default blue/orange browser highlight */
}
