@import "tailwindcss";

@font-face {
  font-family: "reg-poppins";
  src: url("/Poppins-Regular.ttf") format("truetype");
  /* font-weight: 400; */
  /* font-style: normal; */
  /* font-display: swap; */
}

* {
  font-family: "reg-poppins", ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.95); }
}

#game-container {
  width: 100%;
  height: 100%;
  overflow: 'hidden';
}
canvas {
  display: block;
}